* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  min-height: 100vh;
  width: 100%;
  background-color: #535353;
}
.area{
  position: relative;
  min-height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #a7a7a7;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.feedback {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
}

.footer {
  background-color: #1b1b1b;
  color: #fff;
  padding: 20px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  font-style: italic;
  margin: 0;
}

.bi,
.bi-justify {
  color: #fff;
}

.btn-form-submmit{
  float: left;
  width: 80px;
}

@media only screen and (min-width: 1024px) {
  .container-fluid button {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .area {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
