* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  min-height: 100vh;
  width: 100%;
  background-color: #535353;
}

.area {
  position: relative;
  min-height: 100%;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scale(0.9);
}


input.error,
textarea.error {
  border: 2px solid rgb(253, 253, 253);
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 5px;
  resize: none;
  transition: border-color 0.2s ease-in-out; 
}

#mensagem {
  height: 100px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #a7a7a7;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.feedback {
  background-color: #fff;
  width: 80%;
  min-width: 320px;
  max-width: 1200px;
  padding: 30px;
  border-radius: 8px;
  margin: 0 auto;
}

.footer {
  background-color: #1b1b1b;
  color: #fff;
  padding: 20px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  font-style: italic;
  margin: 0;
}

.bi,
.bi-justify {
  color: #fff;
}

.btn-form-submit {
  float: right;
  margin-top: 10px;
  width: 80px;
}

.feedback-textarea {
  margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
  .container-fluid button {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .area {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 100%;
    max-width: 100%;
  }
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10%, 90% { transform: translateX(-10px); }
  20%, 80% { transform: translateX(10px); }
  30%, 50%, 70% { transform: translateX(-10px); }
  40%, 60% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
